{% extends 'base.html.twig' %}

{% block title %}Hello VueController!{% endblock %}

{% block body %}
<div>
    <div id="app">
        <app></app>
        <mode-switcher></mode-switcher>
    </div>
</div>
{% endblock %}
